body {
  margin:0px;
}

.jumbotron {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar {
  padding-bottom: 70px;
  margin-top: 10px;
}

.list-group-item {
  padding-top: 40px;
  padding-bottom: 50px;
  margin: 2px 0;
}

.btn-primary {
  color: #000000;
  background-color:transparent;
  border-color: transparent; /*set the color you want here*/
}

.btn-primary:hover {
  color: #43bbd9;
  background-color: transparent;
  border-color: transparent; 
}
