
{% extends "base.html" %}
{% block content %}
<!--index.html-->

<div class="jumbotron jumbotron-fluid bg-light">
    <div class="container">
      <h1 class="display-4">Virtual Pantry</h1>
      <p class="lead">Don't know what to make with what's in your fridge?  </p>
        <p class="lead">Get recipes curated for you based on exactly what you have, no trips to the store necessary.</p>

        <ul class="list-unstyled">
            {% for foodlist in object_list %}
            <li>
                <div
                    role="button" class="btn btn-dark btn-sm "
                    onclick="location.href='{% url "list" foodlist.id %}'">
                    <h4> View your pantry! </h4>
                </div>
            </li>
            
            {% empty %}
            <h4>You have no lists!</h4>
            <p>
                <input
                    value="Add a new list"
                    type="button"
                    onclick="location.href='{% url "list-add" %}'"/>
            </p>
            {% endfor %}
        </ul>
    </div>
</div>
  
<div class="jumbotron jumbotron-fluid" onclick="location.href='{% url "recipe-index" %}'" >
    <div class="container">
      <h1 class="display-5">View Recipes</h1>
      <p class="lead">View our recipe database</p>
      <button
        type="button" class="btn btn-dark btn-sm "
        onclick="location.href='{% url "recipe-index"  %}'">
        <h4> Recipes </h4>
    </button>
    </div>
</div>



{% endblock %}