{% extends "base.html" %}
{% block content %}
<!--recipe_list.html-->

<ul>
    {% for ingredientList in object_list %}
    <li>
        <div
            role="button"
            onclick="location.href='{% url "recipe-view" ingredientList.id %}'">
            
            {{ ingredientList.ingredientName }}
        </div>
    </li>
    {% empty %}
    <h4>You have no ingredients!</h4>
    <p>
        <input
            value="Add a new ingredient"
            type="button"
            onclick="location.href='{% url "ingredient-add" %}'"/>
    </p>
    {% endfor %}
</ul>

{% endblock %}