{% extends "base.html" %}

{% block content %}
<!--recipe_index.html-->

<h1>Recipe page</h1>

<ul >
    {% for recipe in object_list %}
    <li>
        <div
            role="button"
            onclick="location.href='{% url "recipe-index" recipe.id %}'">
            
            {{ recipe.recipeName }}
        </div>
    </li>
    {% empty %}
    <h4>You have no recipe index!</h4>
    <p>
        <input
            value="Add a new recipe"
            type="button"
            onclick="location.href='{% url "recipe-add" %}'"/>
    </p>
    {% endfor %}
</ul>


{% endblock %}