
{% extends "base.html" %}

{% block content %}
<div>
    <div>
        <div>
            <h3  class="text-black ">{{ food_list.title }} </h3>
            
        </div>
        <ul class="list-group list-group-flush">
            {% for food in object_list %}
            <li class="list-group-item">
                <div >
                    <div
                        role="button"
                        class="btn btn-primary"
                        onclick="location.href='{% url "item-update" food_list.id food.id %}'">
                        {{ food.productName }}
                      
                    </div>
                </div>
            </li>
            {% empty %}
            <p>There is no food in your pantry.</p>
            {% endfor %}
        </ul>
        <p>
                <input
                value="Add a new item"
                type="button"
                class="btn btn-dark btn-floating"
                onclick="location.href='{% url "item-add" food_list.id %}'" />
                <input
                value="Delete all items in your fridge"
                type="button"
                class="btn btn-dark btn-floating"
                onclick="location.href=
                '{% url "list-delete" food_list.id %}'" />
                <input
                value="Suggest recipes based on your items"
                type="button"
                class="btn btn-dark btn-floating"
                onclick="location.href=
                '{% url "rec-view" food_list.id  %}'" />
        </p>
    </div>
</div>
{% endblock %}